.items-footer{
  column-count: 3;
}

.mainFooter {
  background-color: rgb(195, 195, 195);
  margin: 0;
}

.first-item-list {
  font-weight: bolder;
  font-size: large;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-selector {
  margin: 0;
}